In [37]:
import pandas as pd
data= pd.read_csv(r'C:\Users\Pujanande\Desktop\Capstone 1\cap1_training_data.csv') #read in training data

In [39]:
data['price_round'] = round(data['PRICEINDOLPERMWH']) #round price to nearest dollar
data['MW_round'] = round(data['QUANTITYINMWH']) #round quantity to nearest dollar

data['TRADE_DATE'] = pd.to_datetime(data['TRADE_DATE']) #convert trade date to datetime

data['month'] = data['TRADE_DATE'].dt.month #extract month
data['day'] = data['TRADE_DATE'].dt.weekday #extract day

data['HOUR_FREQ_cat'] = data['HOUR_FREQ'].apply(str) #create str so that integer variables will be picked up as catagorical
data['HOUROFDAY_cat'] = data['HOUROFDAY'].apply(str)
data['MW_round_cat'] = data['MW_round'].apply(str)
data['price_round_cat'] = data['price_round'].apply(str)

In [40]:
data.head()

,Unnamed: 0,DATE,SELLER_COMPANY,SELLER_COMPANY_OLD,C_BUYER_NAME,C_BUYER_NAME_OLD,Region,Contract_Service_Agreement_id,TR_CONTRACT_ID,loc,...,FERC_season,price_round,MW_round,TRADE_DATE_dt,month,day,HOUR_FREQ_cat,HOUROFDAY_cat,MW_round_cat,price_round_cat
0,0,1/1/2014,EXELON,"EXELON GENERATION COMPANY, LLC",THE ENERGY AUTHORITY,THE ENERGY AUTHORITY,Florida,12870,717562,FPL,...,winter,30.0,5.0,2014-01-01 22:00:00,1,2,1,22,5.0,30.0
1,1,1/1/2014,SOUTHERN COMPANY,"SOUTHERN COMPANY SERVICES, INC. (AS AGENT)",SEMINOLE ELECTRIC COOP,"SEMINOLE ELECTRIC COOPERATIVE, INC.",Florida,481,1888312,FPL,...,winter,38.0,125.0,2014-01-01 18:00:00,1,2,1,18,125.0,38.0
2,2,1/1/2014,THE ENERGY AUTHORITY,"THE ENERGY AUTHORITY, INC.",J.P. MORGAN CHASE & COMPANY,JP MORGAN VENTURES ENERGY CORPORATION,Florida,30760,892022,FPL,...,winter,30.0,10.0,2014-01-01 02:00:00,1,2,1,2,10.0,30.0
3,3,1/1/2014,THE ENERGY AUTHORITY,"THE ENERGY AUTHORITY, INC.",EXELON,"EXELON GENERATION COMPANY, LLC",Florida,30789,892011,FPL,...,winter,30.0,15.0,2014-01-01 03:00:00,1,2,3,3,15.0,30.0
4,4,1/1/2014,THE ENERGY AUTHORITY,"THE ENERGY AUTHORITY, INC.",EXELON,"EXELON GENERATION COMPANY, LLC",Florida,30789,892011,FPL,...,winter,30.0,16.0,2014-01-01 04:00:00,1,2,3,4,16.0,30.0

In [41]:
final = pd.get_dummies(data) #get dummies for all catagorical data
final.head()

,Unnamed: 0,Contract_Service_Agreement_id,TR_CONTRACT_ID,PRICEINDOLPERMWH,TRADE_DATE,HOUROFDAY,QUANTITYINMWH,HOURLYTRANSCHARGE,HOUR_FREQ,weighted_pricemw,...,price_round_cat_79.0,price_round_cat_8.0,price_round_cat_80.0,price_round_cat_81.0,price_round_cat_82.0,price_round_cat_85.0,price_round_cat_88.0,price_round_cat_9.0,price_round_cat_90.0,price_round_cat_92.0
0,0,12870,717562,30.0,2014-01-01 22:00:00,22,5.0,150.0,1,150.0,...,0,0,0,0,0,0,0,0,0,0
1,1,481,1888312,38.0,2014-01-01 18:00:00,18,125.0,4750.0,1,4750.0,...,0,0,0,0,0,0,0,0,0,0
2,2,30760,892022,30.0,2014-01-01 02:00:00,2,10.0,300.0,1,300.0,...,0,0,0,0,0,0,0,0,0,0
3,3,30789,892011,30.0,2014-01-01 03:00:00,3,15.0,450.0,3,450.0,...,0,0,0,0,0,0,0,0,0,0
4,4,30789,892011,30.0,2014-01-01 04:00:00,4,16.0,480.0,3,480.0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
final.to_csv(r"C:\Users\Pujanande\Desktop\Capstone 1\final_training_data.csv") #export